<header class="header">implement a todo list</header>

<main class="container">
  <section class="todolist">
    <header style="color: red" class="todolist-header">todolist</header>
    <input
      type="text"
      class="todolist-input"
      placeholder="Input your todo..."
      [(ngModel)]="inputTitle"
      (keyup.enter)="handleKeyup($event)"
    />
    <!-- {{ inputTodo.errors | json }} -->
    <!-- <div *ngIf="inputTodo.dirty">
      <div *ngIf="inputTodo.errors?.['required']">the input is required!</div>
      <div *ngIf="inputTodo.errors?.['email']">should input email!</div>
    </div> -->

    <ul class="todolist-container" *ngIf="todos.length">
      <app-todo-item
        *ngFor="let todo of todos"
        [item]="todo"
        (todoref)="deletetodo($event)"
      ></app-todo-item>
    </ul>
  </section>
  <ng-content #name></ng-content>
</main>
